<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HomeWork8_1.Properties.Settings.orderdbConnectionString"
            connectionString="server=localhost;user id=root;password=yantao123;persistsecurityinfo=True;database=orderdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>